[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"
codespell = "*"

[packages]
mne = "*"
mne-bids = "*"
pandas = "*"
natsort = "*"
pybv = "*"
nilearn = "*"
scikit-image = "*"
snakemake = "*"
dicom2nifti = "*"

[requires]
python_version = "3.8"
