[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=0.20.8b1"
pydocstyle = "*"
codespell = "*"
jinja2 = "*"
sphinx = "*"
sphinx-gallery = "*"
sphinx-bootstrap-theme = "*"
numpydoc = "*"
sphinxcontrib-restbuilder = "*"
pytest = "*"
pycodestyle = "*"
sphinx-copybutton = "*"

[packages]
mne = ">=0.22"
mne-bids = ">=0.6"
pandas = ">=1.0.4"
natsort = "*"
pybv = ">=0.5"
nilearn = "*"
scikit-image = "*"
snakemake = ">=5.27.4"
dicom2nifti = "*"
xlrd = "*"
seek-localize = "0.1.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
