[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"
codespell = "*"

[packages]
mne = "*"
mne-bids = {file = "https://api.github.com/repos/mne-tools/mne-bids/zipball/master"}
pandas = "*"
natsort = "*"
pybv = "*"
nilearn = "*"
scikit-image = "*"
snakemake = "*"
dicom2nifti = "*"
black = "*"
codespell = "*"

[requires]
python_version = "3.8"
