
  html,
  body {
	height: 100%;
  }
  
  body {
	margin: 0;
	overflow: hidden;
  }
  .renderer {
	background-color: #000;
	width: 100%;
	height: 33.33%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
	position: relative;
	overflow: hidden;
  }
  
  #r0 {
	background-color: #000;
	width: 100%;
	height: 100%;
  }
  
  #r1 {
	border-top: 2px solid #f44336;
  }
  
  #r2 {
	border-top: 2px solid #ffeb3b;
  }
  
  #r3 {
	border-top: 2px solid #8bc34a;
  }
  
  #my-gui-container {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
  }
  